.Rhistory
*~
**/*~
.R
.benchmark
.check
.devel
.test
*.o
*.so
*.dll
*.Rout
.RData
*.Rproj*
*.swp
.make/*
.local/*
revdep/data.sqlite
revdep/cache
revdep/checks
revdep/library
docs
.Rproj.user
scratch.R

