#----------------------------------------------------------------
# Travis-CI configuration for R packages
#
# REFERENCES:
# * Travis CI: https://travis-ci.org/
# * r-travis: https://github.com/craigcitro/r-travis
# * r-builder: https://github.com/metacran/r-builder
# * covr: https://github.com/jimhester/covr
# * Coveralls: https://coveralls.io/
#
# Validate your .travis.yml file at http://lint.travis-ci.org/
#----------------------------------------------------------------
language: c

env:
  global:
    # Use r-travis or r-builder?
#   - PKGR="./travis-tool.sh"  # r-travis
    - PKGR="./pkg-build.sh"    # r-builder
    - R_BUILD_ARGS="--no-manual"
    - R_CHECK_ARGS="--no-manual --as-cran"
    # Need LaTeX?
    - BOOTSTRAP_LATEX=""  ## Very time consuming!
    # Skip building vignettes, which iff LaTeX-based are very
    # time consuming because LaTeX needs to be installed
    - R_BUILD_ARGS="--no-build-vignettes ${R_BUILD_ARGS}"
    - R_CHECK_ARGS="--no-build-vignettes ${R_CHECK_ARGS}"

  # R versions r-builder should test on (ignored by r-travis)
  matrix:
    - RVERSION=3.1.2
    - RVERSION=devel


before_install:
  - echo PKGR=$PKGR
  - if [ "$PKGR" == "./travis-tool.sh" ]; then
      curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh;
    elif [ "$PKGR" == "./pkg-build.sh" ]; then
      curl -OL https://raw.githubusercontent.com/metacran/r-builder/master/pkg-build.sh;
    fi
  - chmod 755 $PKGR
  - $PKGR bootstrap
  - if [ "BOOTSTRAP_LATEX" == "true" ]; then
      (cd /tmp && curl -OL http://mirrors.ctan.org/macros/latex/contrib/xcolor.zip && cd /usr/share/texmf/tex/latex && sudo unzip /tmp/xcolor.zip && cd xcolor && sudo latex xcolor.ins && sudo texhash)
    fi

install:
#  - $PKGR github_package testthat
#  - $PKGR github_package assertthat
  - $PKGR install_r_binary r.methodss3 r.oo r.utils base64enc
  - $PKGR install_r_binary digest Cairo R.rsp
#  - $PKGR github_package jimhester/covr
  - $PKGR github_package HenrikBengtsson/covr
  - $PKGR install_deps

script: $PKGR run_tests

after_success:
  - if [ "$PKGR" == "./travis-tool.sh" ]; then
      Rscript -e 'covr::coveralls()';
    elif [ "$PKGR" == "./pkg-build.sh" ]; then
      $PKGR run_script -e 'covr::coveralls()';
    fi

notifications:
  email:
    on_success: change
    on_failure: change

branches:
  except:
   - /-expt$/
