useDynLib("matrixStats")

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
importFrom("methods", "setMethod")
importFrom("methods", "setGeneric")
importFrom("methods", "loadMethod")

importFrom("R.methodsS3", "setMethodS3")
importFrom("R.methodsS3", "throw")
importFrom("R.methodsS3", "pkgStartupMessage")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
export("anyMissing")
export("binCounts")
export("binMeans")
export("colAlls")
export("colAnys")
export("colAvgsPerRowSet")
export("colCollapse")
export("colCounts")
export("colDiffs")
export("colIQRs")
export("colLogSumExps")
export("colMads")
export("colMaxs")
export("colMedians")
export("colMins")
export("colOrderStats")
export("colProds")
export("colQuantiles")
export("colRanges")
export("colRanks")
export("colSds")
export("colTabulates")
export("colVars")
export("colWeightedMeans")
export("colWeightedMedians")
export("indexByRow")
export("logSumExp")
export("madDiff")
export("product")
export("rowAlls")
export("rowAnys")
export("rowAvgsPerColSet")
export("rowCollapse")
export("rowCounts")
export("rowDiffs")
export("rowIQRs")
export("rowLogSumExps")
export("rowMads")
export("rowMaxs")
export("rowMedians")
export("rowMins")
export("rowOrderStats")
export("rowProds")
export("rowQuantiles")
export("rowRanges")
export("rowRanks")
export("rowSds")
export("rowTabulates")
export("rowVars")
export("rowWeightedMeans")
export("rowWeightedMedians")
export("sdDiff")
export("signTabulate")
export("varDiff")
export("weightedMad")
export("weightedMedian")
export("weightedSd")
export("weightedVar")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# DECLARATIONS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Vector methods
S3method("binCounts", "default")
S3method("binMeans", "default")
S3method("madDiff", "numeric")
S3method("sdDiff", "numeric")
S3method("varDiff", "numeric")
S3method("weightedMad", "default")
S3method("weightedSd", "default")
S3method("weightedVar", "default")


# Matrix methods
S3method("indexByRow", "matrix")
S3method("rowAvgsPerColSet", "matrix")
S3method("colAvgsPerRowSet", "matrix")
S3method("rowWeightedMeans", "matrix")
S3method("colWeightedMeans", "matrix")
S3method("rowWeightedMedians", "matrix")
S3method("colWeightedMedians", "matrix")
S3method("rowCounts", "matrix")
S3method("colCounts", "matrix")
S3method("rowAnys", "matrix")
S3method("colAnys", "matrix")
S3method("rowAlls", "matrix")
S3method("colAlls", "matrix")
S3method("rowTabulates", "matrix")
S3method("colTabulates", "matrix")
S3method("rowCollapse", "matrix")
S3method("colCollapse", "matrix")
