useDynLib("matrixStats")

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
importFrom("methods", "setMethod")
importFrom("methods", "setGeneric")
importFrom("methods", "loadMethod")

importFrom("R.methodsS3", "setMethodS3")
importFrom("R.methodsS3", "throw")
importFrom("R.methodsS3", "pkgStartupMessage")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
## Export all non-private methods (anything w/out a dot prefix).
exportPattern("^[^\\.]")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# DECLARATIONS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Vector methods
S3method("binCounts", "default")
S3method("binMeans", "default")
S3method("weightedMad", "default")
S3method("weightedMedian", "default")

# Matrix methods
S3method("rowAvgsPerColSet", "matrix")
S3method("colAvgsPerRowSet", "matrix")

S3method("rowWeightedMeans", "matrix")
S3method("colWeightedMeans", "matrix")

S3method("rowWeightedMedians", "matrix")
S3method("colWeightedMedians", "matrix")
